/* Product */
/* .sideImage {
  display: none;
}

.theme-font-color {
  color: #b31c27 !important;
}

.theme-background-color {
  background-color: #b31c27 !important;
}

.nav-link {
  color: #b31c27 !important;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
  }


  .card:hover {
    background-color: brown;
    color: white !important;
  }

  .card-title {
    color: black;
  }

  .text-align {
    text-align: justify;
  } */